html, body {
    margin: 0 auto;
    padding: 0;
    font-family: "Source Sans 3", sans-serif;
    width: 375px;
    
}

/* typography */

h1 {
    font-size: 13px;
    font-weight: 900;
    padding-bottom: px;
    margin-bottom: 0px;
}

h2 {
    font-size: 12px;
    font-weight: 400;
    margin-top: 0px;
}

h3 {
    margin: 0px;
}

/* layout */
header {
    display: flex;
    justify-content: space-between;
    
    
}

.logo {
    width: 127px;
    height: 60px;
    
}

.user {
    width: 34px;
    height: 34px;
    border-radius: 100px;
    margin-top: 10px;
}

.user-pic {
    float: left;
    margin: 0px 10px;
    padding: 0px;
}

.post {
    margin-bottom:  0px;
}
.post-img {
    width: 375px;
    height: 375px;
}

.icon-sections {
    padding: 16px 0px 0px 0px;
}

.icons {
    width: 26px;
    height: 26px;
    padding: 0px 5px;
}

.likes {
    padding: 0px;
}

.like-num {
    padding-top: 5px;
}

.id-user{
    font-weight: 900;
}